@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "_fonts.scss";
@import "_variants.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Urbanist", sans-serif;
}

.border-1 {
  border-width: 1px;
}

input[type="text"],
input[type="number"],
textarea {
  font-size: 16px;
}

.loading-icon {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
